<html>
	<head>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.6.2/react.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/15.6.2/react-dom.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<link rel="stylesheet" href="./style.css">

		<script type="text/babel">
			var TwitterFeeds = React.createClass({
				getInitialState: function() {
					return {
						tweets : []
					}
				}, 
				componentDidMount: function() {			
					// Invoke APi route to get twitter feed data.
					$.ajax({
					  url: 'http://localhost:9000/getTweets',
					  dataType: 'json',
					  cache: false,
					  success: function(data) {
						// Sort the feed data in chronological order based on date/time.
						var sortedTweets = data.sort(function(a,b) {return (a.created_at > b.created_at) ? 1 : ((b.created_at > a.created_at) ? -1 : 0);} );
						// Save the sorted tweets in the state.
						this.setState({tweets: sortedTweets});
					  }.bind(this),
					  error: function(xhr, status, err) {
							console.log('API call failed', status, err.toString());
					  }.bind(this)
					});
				},
				render: function () {
					var twitterGridFeeds = this.state.tweets.map(function(item) {
						return (<div className="row" key={item.id}>
									<div className="col-1-2">{item.text}</div>
									<div className="col-1-4">{item.created_at}</div>
									<div className="col-1-4">{item.user}</div>
								   </div>);
					});					
					return (
							<div>
								<div className="wrapper">
									<div className="row">
      									<div className="header-1-2">
        									<h3>Tweets</h3>
										</div>
										<div className="header-1-4">
        									<h3>Created</h3>
										</div>
										<div className="header-1-4">
        									<h3>User</h3>
										</div>																				
									</div>
									{twitterGridFeeds}
								</div>
						</div>
					);
				}
			});

			ReactDOM.render(
				<TwitterFeeds/>, document.getElementById('root')
			);
		</script>
	</head>
	<body>
		<div id="root"/>
	</body>
</html>